<div>
	<p>Body: <%=comment.text%></p>
	<p>Created at: <%=comment.created_at%></p>
	<p>Author: <%=comment.user.name%></p>
	<%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %> 
</div>